<!DOCTYPE html>
<html>
  <head>
    <title>VidBits</title>
    <link rel="icon" type="image/ico" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/style.css'>
  </head>
  <body>
    <h2>Save a video</h2>
    <form class="input-form" action="../videos" method="post">
      <label for="title-input">Title</label>
      <input type="text" name="title" id="title-input" value="{{title}}">
      {{#if error}}
      <span class="error-message">{{error}}</span><br>
      {{/if}}
      <label for="description-input">Description</label>
      <input type="text" name="description" id="description-input" value="{{description}}"><br>
      <label for="url-input">URL</label>
      <input type="text" name="url" id="url-input" value="{{url}}">
      <button type="submit" id="submit-button">
        <p>Submit</p>
      </button>
    </form>
  </body>
</html>
