{{#with video as |video|}}
<div class='single-video-container'>
  <span class='single-video-title'>Title: {{video.title}}</span><br>
  <span class='single-video-description'>Description: {{video.description}}</span>
</div>
{{/with}}
